.caja {
    height:400px;
    width: 400px;
    display: absolute;
}

.caja-dos {
    height: 200px;
    width: 200px;
    position: absolute;
}

.caja-tres {
    height: 100px;
    width: 100px;
    position: absolute;
}

.cuadro {
    margin: 5px;
    display: inline;
}

#red {
    background-color: red;
}

#purple {
    top: 125px;
    left: 110px;
    background-color: blueviolet;
}

#yellow {
    top: 125px;
    left: 110px;
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#green {
    top: 545px;
    left: 110px;
    background-color: green;
}

#black {
    top: 445px;
    background-color: black;
}